Cross.DataVault/Cross.DataVault.ServiceAccess/Connected Services/AccountsCloudService/AccountManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" />
  <xs:import schemaLocation="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Generate_AccountForCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountForCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Generate_AccountForCredentialsResult" nillable="true" type="q1:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountForEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountForEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Generate_AccountForEmailResult" nillable="true" type="q2:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="obj" nillable="true" type="q3:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Generate_AccountForUserResult" nillable="true" type="q4:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountsForUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="objs" nillable="true" type="q5:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Generate_AccountsForUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Generate_AccountsForUsersResult" nillable="true" type="q6:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_AccountForUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_AccountForUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Delete_AccountForUserIDResult" nillable="true" type="q7:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_AccountsForUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_AccountsForUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Delete_AccountsForUserIDsResult" nillable="true" type="q9:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable_AccountsForUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable_AccountsForUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Disable_AccountsForUserIDResult" nillable="true" type="q10:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable_AccountsForUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable_AccountsForUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Disable_AccountsForUserIDsResult" nillable="true" type="q12:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_PasswordForUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_PasswordForUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Change_PasswordForUserIDResult" nillable="true" type="q13:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_EmailForUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_EmailForUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Change_EmailForUserIDResult" nillable="true" type="q14:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_UsernameForUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_UsernameForUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Change_UsernameForUserIDResult" nillable="true" type="q15:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_PasswordForUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q16:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_PasswordForUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Change_PasswordForUserIDsResult" nillable="true" type="q17:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_EmailForUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_EmailForUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Change_EmailForUserIDsResult" nillable="true" type="q19:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_UsernameForUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q20:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Change_UsernameForUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Change_UsernameForUserIDsResult" nillable="true" type="q21:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>