Cross.DataVault/Cross.DataVault.ServiceAccess.PCL/Connected Services/DataVaultCloudService/DataVaultService_WCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DataVaultService/DataVaultService_WCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" />
  <xs:import schemaLocation="http://localhost/DataVaultService/DataVaultService_WCF.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/DataVaultService/DataVaultService_WCF.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" />
  <xs:element name="IsServiceAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsServiceAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="note" nillable="true" type="q1:Notes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="AddNoteResult" nillable="true" type="q2:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNote_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNote_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="DeleteNote_ByIDResult" nillable="true" type="q3:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotes_ByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNotes_ByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="DeleteNotes_ByIDsResult" nillable="true" type="q5:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNote_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNote_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="GetNote_ByIDResult" nillable="true" type="q6:NotesResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes_ByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes_ByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="GetNotes_ByIDsResult" nillable="true" type="q8:NotesResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes_ByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes_ByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="GetNotes_ByUserIDResult" nillable="true" type="q9:NotesResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="note" nillable="true" type="q10:Notes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="UpdateNoteResult" nillable="true" type="q11:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="note" nillable="true" type="q12:Notes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="UpdateNotesResult" nillable="true" type="q13:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="password" nillable="true" type="q14:Passwords" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="AddPasswordResult" nillable="true" type="q15:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePassword_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePassword_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="DeletePassword_ByIDResult" nillable="true" type="q16:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePasswords_ByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePasswords_ByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="DeletePasswords_ByIDsResult" nillable="true" type="q18:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="password" nillable="true" type="q19:Passwords" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="UpdatePasswordResult" nillable="true" type="q20:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswords_ByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswords_ByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="GetPasswords_ByUserIDResult" nillable="true" type="q21:PasswordsResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassword_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassword_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="GetPassword_ByIDResult" nillable="true" type="q22:PasswordsResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswords_ByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswords_ByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="GetPasswords_ByIDsResult" nillable="true" type="q24:PasswordsResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="account" nillable="true" type="q25:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="AddAccountResult" nillable="true" type="q26:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Account_ViaAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Account_ViaAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_Account_ViaAuthenticationResult" nillable="true" type="q27:AccountResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="contact" nillable="true" type="q28:Contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="AddContactResult" nillable="true" type="q29:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ContactByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ContactByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Delete_ContactByIDResult" nillable="true" type="q30:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ContactsByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ContactsByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Delete_ContactsByIDsResult" nillable="true" type="q32:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ContactByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ContactByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_ContactByIDResult" nillable="true" type="q33:ContactsResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ContactsByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ContactsByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_ContactsByUserIDResult" nillable="true" type="q34:ContactsResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ContactsByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ContactsByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_ContactsByIDsResult" nillable="true" type="q36:ContactsResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMusic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="music" nillable="true" type="q37:Music" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMusicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="AddMusicResult" nillable="true" type="q38:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MusicByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MusicByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_MusicByIDResult" nillable="true" type="q39:MusicResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MusicByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MusicByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_MusicByUserIDResult" nillable="true" type="q40:MusicResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MusicByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MusicByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_MusicByIDsResult" nillable="true" type="q42:MusicResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="photo" nillable="true" type="q43:Photos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="AddPhotoResult" nillable="true" type="q44:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhotoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhotoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Delete_PhotoByIDResult" nillable="true" type="q45:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhotosByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhotosByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" minOccurs="0" name="Delete_PhotosByIDsResult" nillable="true" type="q47:IdentityPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PhotoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PhotoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_PhotoByIDResult" nillable="true" type="q48:PhotosResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PhotoByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PhotoByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_PhotoByUserIDResult" nillable="true" type="q49:PhotosResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PhotoByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PhotoByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data.Response" minOccurs="0" name="Get_PhotoByIDsResult" nillable="true" type="q51:PhotosResponsePacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>