Cross.DataVault/Cross.DataVault.ServiceAccess.PCL/Connected Services/AccountManagerService/AccountManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cross.DataVault.Contracts.Data" />
      <xsd:import schemaLocation="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountManagement_ServiceAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailable" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_ServiceAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountForCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountForCredentials" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountForCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountForCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountForEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountForEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountForEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountForEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountForUser" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountsForUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountsForUsers" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Generate_AccountsForUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_AccountsForUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Delete_AccountForUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_AccountForUserID" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Delete_AccountForUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_AccountForUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Delete_AccountsForUserIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_AccountsForUserIDs" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Delete_AccountsForUserIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_AccountsForUserIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Disable_AccountsForUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:Disable_AccountsForUserID" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Disable_AccountsForUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Disable_AccountsForUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Disable_AccountsForUserIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:Disable_AccountsForUserIDs" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Disable_AccountsForUserIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Disable_AccountsForUserIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_PasswordForUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_PasswordForUserID" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_PasswordForUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_PasswordForUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_EmailForUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_EmailForUserID" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_EmailForUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_EmailForUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_UsernameForUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_UsernameForUserID" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_UsernameForUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_UsernameForUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_PasswordForUserIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_PasswordForUserIDs" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_PasswordForUserIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_PasswordForUserIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_EmailForUserIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_EmailForUserIDs" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_EmailForUserIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_EmailForUserIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_UsernameForUserIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:Change_UsernameForUserIDs" />
  </wsdl:message>
  <wsdl:message name="IAccountManagement_Change_UsernameForUserIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:Change_UsernameForUserIDsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountManagement">
    <wsdl:operation name="ServiceAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/ServiceAvailable" message="tns:IAccountManagement_ServiceAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/ServiceAvailableResponse" message="tns:IAccountManagement_ServiceAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountForCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountForCredentials" message="tns:IAccountManagement_Generate_AccountForCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountForCredentialsResponse" message="tns:IAccountManagement_Generate_AccountForCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountForEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountForEmail" message="tns:IAccountManagement_Generate_AccountForEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountForEmailResponse" message="tns:IAccountManagement_Generate_AccountForEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountForUser" message="tns:IAccountManagement_Generate_AccountForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountForUserResponse" message="tns:IAccountManagement_Generate_AccountForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountsForUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountsForUsers" message="tns:IAccountManagement_Generate_AccountsForUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Generate_AccountsForUsersResponse" message="tns:IAccountManagement_Generate_AccountsForUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_AccountForUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Delete_AccountForUserID" message="tns:IAccountManagement_Delete_AccountForUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Delete_AccountForUserIDResponse" message="tns:IAccountManagement_Delete_AccountForUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_AccountsForUserIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Delete_AccountsForUserIDs" message="tns:IAccountManagement_Delete_AccountsForUserIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Delete_AccountsForUserIDsResponse" message="tns:IAccountManagement_Delete_AccountsForUserIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disable_AccountsForUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Disable_AccountsForUserID" message="tns:IAccountManagement_Disable_AccountsForUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Disable_AccountsForUserIDResponse" message="tns:IAccountManagement_Disable_AccountsForUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disable_AccountsForUserIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Disable_AccountsForUserIDs" message="tns:IAccountManagement_Disable_AccountsForUserIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Disable_AccountsForUserIDsResponse" message="tns:IAccountManagement_Disable_AccountsForUserIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_PasswordForUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Change_PasswordForUserID" message="tns:IAccountManagement_Change_PasswordForUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Change_PasswordForUserIDResponse" message="tns:IAccountManagement_Change_PasswordForUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_EmailForUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Change_EmailForUserID" message="tns:IAccountManagement_Change_EmailForUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Change_EmailForUserIDResponse" message="tns:IAccountManagement_Change_EmailForUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_UsernameForUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Change_UsernameForUserID" message="tns:IAccountManagement_Change_UsernameForUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Change_UsernameForUserIDResponse" message="tns:IAccountManagement_Change_UsernameForUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_PasswordForUserIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Change_PasswordForUserIDs" message="tns:IAccountManagement_Change_PasswordForUserIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Change_PasswordForUserIDsResponse" message="tns:IAccountManagement_Change_PasswordForUserIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_EmailForUserIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Change_EmailForUserIDs" message="tns:IAccountManagement_Change_EmailForUserIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Change_EmailForUserIDsResponse" message="tns:IAccountManagement_Change_EmailForUserIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Change_UsernameForUserIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManagement/Change_UsernameForUserIDs" message="tns:IAccountManagement_Change_UsernameForUserIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManagement/Change_UsernameForUserIDsResponse" message="tns:IAccountManagement_Change_UsernameForUserIDs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountManagement" type="tns:IAccountManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceAvailable">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/ServiceAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountForCredentials">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Generate_AccountForCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountForEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Generate_AccountForEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountForUser">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Generate_AccountForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_AccountsForUsers">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Generate_AccountsForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_AccountForUserID">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Delete_AccountForUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_AccountsForUserIDs">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Delete_AccountsForUserIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable_AccountsForUserID">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Disable_AccountsForUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable_AccountsForUserIDs">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Disable_AccountsForUserIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_PasswordForUserID">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Change_PasswordForUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_EmailForUserID">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Change_EmailForUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_UsernameForUserID">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Change_UsernameForUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_PasswordForUserIDs">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Change_PasswordForUserIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_EmailForUserIDs">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Change_EmailForUserIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_UsernameForUserIDs">
      <soap:operation soapAction="http://tempuri.org/IAccountManagement/Change_UsernameForUserIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountManagement">
    <wsdl:port name="BasicHttpBinding_IAccountManagement" binding="tns:BasicHttpBinding_IAccountManagement">
      <soap:address location="http://localhost/DataVaultService.AccountManagement/AccountManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>